../../.bash_history
        ../../.gitconfig
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../Contacts/
        ../Aplicativos Removidos.html
        ../Visual Studio Code.lnk
        ../desktop.ini
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Git_exemplo/
        ../../IdeaProjects/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{dc855091-ef75-11ee-925f-e840f23a8d5b}.TM.blf
        ../../NTUSER.DAT{dc855091-ef75-11ee-925f-e840f23a8d5b}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{dc855091-ef75-11ee-925f-e840f23a8d5b}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../PycharmProjects/
        ../../Saved Games/
        ../../Searches/
        ../../Tracing/
        ../../Videos/
        ../../_netrc
        ../../git-ignore/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
