::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-120deg, orange);
}

body,
textarea {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form_box {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 8px;
    width: 700px;
}

.form_box .title {
    padding: 24px 32px;
    font-size: 24px;
    border-bottom: thin solid #ccc;
}

.form_box form {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.form_box input,
.form_box textarea {
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

.form_box input:first-child {
    margin-right: 16px;
}

.form_box input[name=subject] {
    width: 100%;
}

.form_box textarea {
    width: 100%;
    height: 180px;
    padding: 16px;
}

.form_box button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form_box button:hover{
    background-color: green;
}

.imagem-carousel {
    height: 350px;
    object-fit: cover;
}

footer {
    background-color: black;
}

.site-logo {
   max-width: 40%;
}

h3 {
    color: white;
    background-color: orange;
    padding: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif
}
